.cat {
  width: 645px;
  height: 380px;
  background: url('../images/cat.jpg');
}

.parent {
  display: flex;
  width: 200px;
  height: 50px;
  margin: auto;
  font-family: 'Enagol-Math';
  font-size: 2em;
  border: 1px solid pink;

  .child {
    border: 1px solid #eee;
  }
}